In [1]:
#!pip install pyspark
import pyspark

In [2]:
import pandas as pd

path = "../../data/timeseries/adobe.csv"
pd.read_csv(path)

,Date,open,high,low,close,adj_close,volume
0,2017-01-03,103.430000,104.029999,102.809998,103.480003,103.480003,2277400
1,2017-01-04,103.739998,104.370003,103.500000,104.139999,104.139999,1712600
2,2017-01-05,104.129997,106.019997,103.769997,105.910004,105.910004,2504000
3,2017-01-06,105.980003,108.430000,105.250000,108.300003,108.300003,2625600
4,2017-01-09,107.959999,108.790001,107.559998,108.570000,108.570000,2925000
...,...,...,...,...,...,...,...
1628,2023-06-23,472.950012,487.329987,472.320007,484.720001,484.720001,4450200
1629,2023-06-26,483.010010,487.160004,479.049988,479.510010,479.510010,3169500
1630,2023-06-27,480.000000,490.799988,479.950012,489.269989,489.269989,2691700
1631,2023-06-28,482.000000,489.750000,480.390015,482.429993,482.429993,3229200
1632,2023-06-29,484.470001,485.829987,479.600006,483.769989,483.769989,1904700

In [3]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Practise").getOrCreate()
spark

In [4]:
adobe = spark.read.option("header", "true").csv(path)
adobe.show()

+----------+------------------+------------------+------------------+------------------+------------------+-------+
|      Date|              open|              high|               low|             close|         adj_close| volume|
+----------+------------------+------------------+------------------+------------------+------------------+-------+
|2017-01-03|103.43000030517578|104.02999877929688|102.80999755859375| 103.4800033569336| 103.4800033569336|2277400|
|2017-01-04|103.73999786376953|104.37000274658203|             103.5|104.13999938964844|104.13999938964844|1712600|
|2017-01-05|104.12999725341797| 106.0199966430664| 103.7699966430664|105.91000366210938|105.91000366210938|2504000|
|2017-01-06| 105.9800033569336|108.43000030517578|            105.25|108.30000305175781|108.30000305175781|2625600|
|2017-01-09|107.95999908447266|108.79000091552734|107.55999755859375|108.56999969482422|108.56999969482422|2925000|
|2017-01-10|108.56999969482422|108.79000091552734|107.61000061035156|108.26000213623047|108.26000213623047|3081000|
|2017-01-11| 108.2300033569336|109.05000305175781|             108.0|108.98999786376953|108.98999786376953|1784000|
|2017-01-12|107.98999786376953|108.73999786376953|107.16000366210938|108.58999633789062|108.58999633789062|1617900|
|2017-01-13|108.83999633789062| 108.9000015258789| 107.9800033569336|108.52999877929688|108.52999877929688|1593500|
|2017-01-17|107.79000091552734|108.05000305175781|107.05999755859375|             108.0|             108.0|1697800|
|2017-01-18|             108.5|109.16999816894531|107.52999877929688|108.79000091552734|108.79000091552734|2536900|
|2017-01-19|108.62999725341797| 109.9800033569336|108.04000091552734|109.79000091552734|109.79000091552734|3090500|
|2017-01-20| 110.0199966430664|110.80999755859375|109.56999969482422|110.70999908447266|110.70999908447266|3179200|
|2017-01-23|110.70999908447266|111.91999816894531|110.30000305175781|110.97000122070312|110.97000122070312|2574200|
|2017-01-24|111.45999908447266|114.16999816894531|111.33999633789062|113.72000122070312|113.72000122070312|3654400|
|2017-01-25| 113.7699966430664|114.56999969482422|113.29000091552734|            114.25|            114.25|3919300|
|2017-01-26|113.79000091552734|114.44000244140625| 112.7300033569336|112.87999725341797|112.87999725341797|2745200|
|2017-01-27|113.06999969482422|114.01000213623047|            112.75|113.98999786376953|113.98999786376953|1696800|
|2017-01-30|113.22000122070312|113.87000274658203|112.26000213623047|113.81999969482422|113.81999969482422|2176500|
|2017-01-31|113.22000122070312|            113.75|112.69999694824219|113.37999725341797|113.37999725341797|1716600|
+----------+------------------+------------------+------------------+------------------+------------------+-------+
only showing top 20 rows

In [5]:
adobe.printSchema()

root
 |-- Date: string (nullable = true)
 |-- open: string (nullable = true)
 |-- high: string (nullable = true)
 |-- low: string (nullable = true)
 |-- close: string (nullable = true)
 |-- adj_close: string (nullable = true)
 |-- volume: string (nullable = true)